{% load static%}


<style>

.footer-link{
    color: white !important;
}

</style>

<footer style="background-color: #262626;" class="section-sm ">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-2 col-md-4 col-6 mb-4">
                <div class="footer-widget">
                    <h5 class="mb-4 text-primary font-secondary">Service</h5>
                    <ul  class="list-unstyled">
                        <li class="mb-2"><a class="footer-link" href="service-details.html">Personal loans</a>
                        </li>
                        <li class="mb-2"><a class="footer-link" href="service-details.html">Home Equity Loans</a>
                        </li>
                        <li class="mb-2"><a class="footer-link" href="service-details.html">Student Loans</a>
                        </li>
                        <li class="mb-2"><a class="footer-link"  href="service-details.html">Mortgage Loans</a>
                        </li>
                        <li class="mb-2"><a class="footer-link" href="service-details.html">Payday Loans</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mb-4">
                <div class="footer-widget">
                    <h5 class="mb-4 text-primary font-secondary">About</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="footer-link" href="#!">Benefits</a>
                        </li>
                        <li class="mb-2"><a class="footer-link" href="#!">Careers</a>
                        </li>
                        <li class="mb-2"><a class="footer-link" href="#!">Our Story</a>
                        </li>
                        <li class="mb-2"><a class="footer-link" href="#!">Team</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mb-4">
                <div class="footer-widget">
                    <h5 class="mb-4 text-primary font-secondary">Help</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="footer-link" href="contact.html">Contact Us</a>
                        </li>
                        <li class="mb-2"><a class="footer-link" href="faq.html">FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 newsletter-form">
                <div style="background-color: #262626; padding: 35px;">
                    <h5 class="mb-4 text-primary font-secondary">Contact us</h5>
                    






                    <p style="color: white;" class="mb-0">Lorem ipsum dolor sit amet, rdghds consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-5 text-center text-md-start">
            <div class="col-lg-4">
        <a href="index.html">
          <img loading="prelaod" decoding="async" class="img-fluid" width="160" src="{% static 'images/logooo.png'%}" alt="Wallet">
        </a>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <ul class="list-unstyled list-inline mb-0 text-lg-center">
                    <li class="list-inline-item me-4"><a  href="privacy-policy.html">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item me-4"><a  href="terms.html">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 text-md-end mt-4 mt-md-0">
                <ul class="list-unstyled list-inline mb-0 social-icons">
                    <li class="list-inline-item me-3"><a title="Explorer Facebook Profile"  href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item me-3"><a title="Explorer Twitter Profile"  href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item me-3"><a title="Explorer Instagram Profile" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- # JS Plugins -->
<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap/bootstrap.min.js'%}"></script>
<script src="{% static 'plugins/slick/slick.min.js'%}"></script>
<script src="{% static 'plugins/scrollmenu/scrollmenu.min.js'%}"></script>

<script src="js/script.js'%}"></script>
<!-- Main Script -->


<!-- slider script -->
<script src="{% static 'service-js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'service-js/popper.min.js'%}"></script>
<script src="{% static 'service-js/bootstrap.min.js'%}"></script>
<script src="{% static 'service-js/owl.carousel.min.js'%}"></script>
<script src="{% static 'service-js/main.js'%}"></script>
<!-- slider script -->


<!-- search script -->

<!-- searcg script -->
<script>
    var textPresetVal = new Choices('#choices-text-preset-values',
    {
      removeItemButton: true,
    });

  </script>
