{%include "base.html"%}





<div class="card-deck">
    <div class="card">
        {% for products_list in items %}
      <img class="img-thumbnail" src="/media/{{products_list.image}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'ecom:products_detail' products_list.slug %}">{{ products_list.title }}</a></h5>
        <p class="card-text"><small class="text-muted">{{ products_list.price }}<</small></p>
        <p class="card-text">{{ products_list.description }}</p>
        
        {% endfor %}
      </div>
    </div>
  </div>

  {%include "footer.html"%}